.artist {
  margin: 10px 10px;
  border-radius: 10px;
  width:fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dotted white;;
}

.artist p {
  margin: 5px 10px;
  font-weight: bolder;
  color: white;
  letter-spacing: 1.5px;
}

.artist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 750px;
  border-radius: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 550px) {
  .artists-container {
    max-width: 80vw;
  }
} 