.banner {
  display: flex;
  height: 80px;
  line-height: 80px;
  background-color: pink;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.filter {
  margin-right: 40px;
  z-index: 2;
}

.filter:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .banner h1 {
    font-size: 1.10rem;
    font-weight: 900;
    height: 40px;
  }

  .banner h2{
    font-size: 1rem;
    margin: 0;
  }
  .banner {
    flex-direction: column;
    justify-content: center;
  }
} 