.card {
  /* border: solid 2px pink; */
  /* height: 2vh;
  width: 2vw; */
  width: fit-content;
  padding: 20px;
  margin: 5%;
  background:rgba(255, 192, 203, 0.637);
  flex: 0 0 auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(238, 162, 201, 0.418) 0px 3px 8px;
}

img {
  height: 20vh;
  /* width: 5vw */
  object-fit: cover;
  border-radius: 30px;
}