.error-container {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-container img {
  margin-top: 25pt;
}

.error-container h1 {
  font-size: 4rem;
  font-weight: bold;
}

.error-container p {
  font-size: 1.5rem;
}

.error-container .home-button {
  position: fixed;
  top: 1rem;
}