.game-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc0cb;
  min-height: 100vh;
  width: 100%;
}

.game-details {
  display:flex;
  justify-content: center;
  width: 800px;
  margin: 30px 0;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 40%;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  width: 40%;
}

.links {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.details h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px 0;
  width:150px;
  height:35px;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.5);
}

.game-nav {
  display: flex;
  justify-content: center;
  gap:50px;
  width: 50%;
}

.game-nav a {
  font-size: 1.25rem;
  width: 100px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5px 5px;
}

.game-nav a.active {
  background-color: black;
  color: white;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.home-button {
  display: flex;
  flex-direction: column;
  background-color:white;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.5);
}

.home-button a {
font-size: 1.5rem;
font-weight: bold;
text-decoration: none;
color: rgb(61, 60, 60);
margin: 0;
}

.home-button P {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 0 12px;
  margin-bottom: 10px;
}

span {
  height: 40px;
  font-size: 3rem;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.home-button a:hover {
  background-color: black;
  color: white;
  border-radius: 50%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media screen and (max-width: 850px) {
  /* .game-display {
    width: 100%;
    flex-direction: column
  }; */
  
  .game-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    gap: 20px;
  }

  .details {
    padding: 0
  }

  /* .game-display {
   width:100vw;
  } */
}

@media screen and (max-width: 450px) {
  
  .game-nav {
    gap: 20px
  }

  .game-nav a {
    width: 100px;
    font-size: 1rem;
  }

  .thumbnail {
    width: 70%;
  }
  
}