.game-row {
  /* border: solid 2px pink; */
  margin: 0 5vw;
}

.heading-container {
  display: flex;
  justify-content: space-between;
}

.row-card-container {
  display: flex;
  /* justify-content: space-around; */
  overflow-x: auto;
  gap: 10px;
}

