.about-container {
  display: flex;
  justify-content: center;
}

.about {
  width: 750px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 20px;
  box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 850px) {
  .about {
    width: 80vw;
    margin-right: 55px;
    margin: 20px 0
  }
} 

.hidden {
  display: none;
}

