@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Poppins:wght@300&display=swap');

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	background: rgb(255,194,204);
  background: linear-gradient(90deg, rgba(255,194,204,0.444437149859944) 0%, rgba(255,255,255,1) 100%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
