.pop-out-menu {
  position: absolute;
  top: 0;
  right: 0;
  /* width: 200px; */
  background-color: rgb(255, 179, 179);
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 95%;
  overflow: scroll;
}

.pop-out-menu h4 {
  cursor: pointer;
}

.pop-out-menu .menu-item {
  margin-top: 20px;
}

.pop-out-menu .menu-item p {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.pop-out-menu .dropdown-menu {
  position: relative;
  display: inline-block;
  height: 100vh;
  overflow: scroll;
}

.pop-out-menu .dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  top: 100%;
  left: 0;
  /* min-width: 160px; */
  width: fit-content;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pop-out-menu .dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #000000;
}

.pop-out-menu ul{
  border: #000000 solid 2px;
  border-radius: 10px;
  box-shadow: 10px black;
}

.pop-out-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 solid 2px;
  cursor: pointer;
  box-shadow: 10px black;
}

.pop-out-menu li:hover {
  background-color: #479577;
  transition: background-color 0.3s ease-in-out;
}

.pop-out-menu .dropdown-menu ul li:last-child {
  border-bottom: none;
}

.pop-out-menu .dropdown-menu ul li:hover {
  background-color: #f4cdcd;
}

.filtered-games {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.pop-out-menu a {
  text-decoration: none;
  color: black;
}

.pop-out-menu a:hover {
  text-decoration: underline;
}

.pop-out-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #f4cdcd;
}

.pop-out-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #479577;
}

.selected {
  background-color: #479577;
}
