.pop-out-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  background-color: rgb(255, 179, 179);
  border-radius: 5px;
  display: flex;
  height: 95%;
  overflow: scroll;
  width: fit-content;
  text-align: center;
  padding: 0 20px;
  border-left: 1px solid black;
}

.pop-out-menu button {
  cursor: pointer;
}

.pop-out-menu ul li {
  list-style: none;
}

.filtered {
  padding-right: 20px;
}

.filtered ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
}

.option {
  width: 150px;
  height:fit-content;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.option li {
  list-style: none;
  word-wrap: break-word;
  line-height: 1.25;
  text-align: left;
}

.game-link:hover {
  font-size: 1.10rem;
  text-decoration: underline;
  background-color: #479577;
}

.filtered a {
  text-decoration: none;
  color: black;
}

.label {
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  font-weight: 900;
}

.pop-out-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #f4cdcd;
}

.pop-out-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #479577;
}

.label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-li:hover {
  background-color: #479577;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width:450px){
  
  .pop-out-menu {
      width: 90%;
    }
}

/* .pop-out-menu .dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #000000;
}

.pop-out-menu ul{
  border: #000000 solid 2px;
  border-radius: 10px;
  box-shadow: 10px black;
}

.pop-out-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 solid 2px;
  cursor: pointer;
  box-shadow: 10px black;
  width: 100%;
  margin: 0;
}

.pop-out-menu li:hover {
  background-color: #479577;
  transition: background-color 0.3s ease-in-out;
}

.pop-out-menu .dropdown-menu ul li:last-child {
  border-bottom: none;
}

.pop-out-menu .dropdown-menu ul li:hover {
  background-color: #f4cdcd;
}

.filtered-games {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.pop-out-menu a {
  text-decoration: none;
  color: black;
}

.pop-out-menu a:hover {
  text-decoration: underline;
}

.pop-out-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #f4cdcd;
}

.pop-out-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #479577;
}

.filtered {
  padding-right: 50px
}

.filter-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  overflow-wrap: break-word;
  height: min-content;
} */